/**
 * Vehicles List Styles
 */

.vehiclesList {
  .modules & {
    &.vehiclesList {
      margin: var(--gutter);
    }
  }
  
  &__inner {
    padding: max(160px, 16000svw / var(--w)) var(--gutter) var(--gutter);
    padding-top: max(80px, 8000svw / var(--w));
    background: var(--blue-grey-light);

    .home & {
      padding-top: calc(3400svw / var(--w));
    }
  }

  &__title {
    max-width: 9.45em;
    margin: 0 auto 0.8em;
    text-align: left;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .boxes-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: calc(2000svw / var(--w));
      width: 100%;
      max-width: max(1200px, 120000svw / var(--w));
      margin: 0 auto;
    }

    .box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40vw;
      height: 40vw;
      padding: calc(1000svw / var(--w));
      border: 2px dashed var(--blue-dark);
      border-radius: var(--radius);
      &-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: var(--radius);
        cursor: pointer;
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;

    .content {
      position: relative;
      height: 30vh;
      border: 2px dashed var(--blue-dark);
      border-radius: var(--radius);
      aspect-ratio: 1 / 1;

      .modal__title {
        position: absolute;
        bottom: 10%;
        left: 50%;
        z-index: 1001;
        margin: 0;
        font-size: max(20px, 2000svw / var(--w));
        text-align: center;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);
      }

      .box-content {
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--blue-grey-light);
      opacity: 0;
    }
  }
}
