dockers/volumes
wp-config.php
wp-content/uploads
wp-content/themes/transfertmarrakech/node_modules
wp-content/themes/transfertmarrakech/package-lock.json
wp-content/themes/transfertmarrakech/assets/css/*.css.map