/**
 * Common button styles
 * 
 * Styles for CTA buttons used across the site
 */

.cta {
  position: relative;
  display: inline-block;
  min-width: 4em;
  margin-block: -0.1em;
  padding: 1.4666666667em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  @include typographic(
    $font-ibmplexmono,
    max(13px, 1500svw / var(--w)),
    400,
    var(--blue-grey-light),
    1.2
  );
  background: var(--blue-dark);
  border-radius: var(--radius);
  outline-offset: -1px;
  overflow: hidden;
  transition:
    all var(--tm) var(--smooth),
    color 0s;

  [data-label] {
    display: block;

    &::before,
    &::after {
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform var(--tm) var(--smooth);
    }

    &::before {
      transform: translateY(0);
    }

    &::after {
      transform: translateY(100%);
    }

    span {
      opacity: 0;
    }
  }

  &:hover {
    color: var(--blue-dark);
    background: transparent;
    outline: 1px dashed var(--blue-dark);

    [data-label] {
      &::before {
        transform: translateY(-100%);
      }

      &::after {
        transform: translateY(0);
      }
    }
  }

  &.is-fixed {
    font-size: 15px;
  }

  &.is-small {
    padding: 0.6em 0.8em;
  }

  &.secondary {
    background: var(--blue);

    &:hover {
      color: var(--blue);
      background: transparent;
      outline: 1px dashed var(--blue);
    }
  }

  &.is-arrow {
    width: max(50px, 5000svw / var(--w));
    min-width: max(50px, 5000svw / var(--w));
    margin: 0;
    padding: 0;
    border-radius: 100%;
    outline: none;
    aspect-ratio: 1;

    &:disabled,
    &[disabled] {
      background: none;
      outline: 1px dashed var(--blue-dark);
      pointer-events: none;

      &::before,
      &::after {
        filter: invert(90%) sepia(29%) saturate(4567%) hue-rotate(200deg)
          brightness(89%) contrast(95%);
      }
    }

    &.is-arrow.left {
      &::before {
        transform: rotate(180deg);
      }

      &::after {
        transform: translate(100%) rotate(180deg);
      }

      &:hover {
        &::before {
          transform: translate(-100%) rotate(180deg);
        }

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: url($path_icons + "/arrow.svg") no-repeat center;
      background-size: 10% auto;
      transition: all var(--tm) var(--smooth);
      transform: translate(-100%);
    }

    &::after {
      transform: none;
    }

    &:hover {
      background: var(--blue);
      outline: none;

      &::before {
        transform: none;
      }

      &::after {
        transform: translate(100%);
      }
    }
  }

  &.light-hover {
    &:hover {
      color: var(--blue-grey-light);
      outline-color: var(--grey-light);
    }
  }
}
