/**
 * Carrousel des destinations
 */

.carrousel {
  &__top {
    display: block;
    margin-inline: var(--gutter);
  }

  &__title {
    margin: 0;
  }

  &__nav {
    margin: calc(2500svw / var(--w)) 0 0;
    line-height: 0;
    text-align: left;
    white-space: nowrap;

    .module__ctas {
      display: inline-flex;
      margin: 0;
      vertical-align: middle;

      .cta {
        min-width: 11.3333333333em;
        &.is-arrow {
          width: max(80px, 8000svw / var(--w));
          min-width: max(80px, 8000svw / var(--w));
          margin-left: .4em;
          vertical-align: middle;
        }
      }
    }
  }

  &__inner {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;

    .swiper-wrapper {
      display: flex;
      align-items: stretch;
      margin-top: calc(3500svw / var(--w));
      margin-inline: var(--gutter);
    }

    .swiper-slide {
      display: flex;
      flex-shrink: 0;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }
  }

  &__slide {
    &-img {
      border-radius: var(--radius);
      overflow: hidden;

      img {
        transition: all 1s var(--ease-out);
      }
    } 
    h5 {
      margin-block: .5925925926em 0;
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    a {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}