.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: calc(var(--header-spacing) + max(132px, 13200svw / var(--w))) var(--gutter) max(103px, 10300svw / var(--w));
  text-align: center;
  color: var(--blue-grey-light);
  flex-flow: column nowrap;

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include typographic($font-gascone, max(60px,6000svw / var(--w)), 400, var(--blue-grey-light), .9);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    background: #000;
    overflow: hidden; // Black background to prevent green bars

    .iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      overflow: hidden; // Black background to prevent green bars

      iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: max(177.78vh, 100vw);
        min-width: 100vw;
        height: max(100vh, 56.25vw);
        min-height: 100vh;
        transform: translate(-50%, -50%) scale(1.5);
        pointer-events: none;
      }
    }
  }
}