.hero {
  &__inner {
    max-width: 52.9411764706em;
  }

  &__title {
    font-size: max(80px, 10000svw / var(--w));
  }

  &__bg {
    .iframe {
      iframe {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%) scale(3);
      }
    }
  }
}