@import "utils/index";

@import "pages/common/tours/base/tours-list";
@import "pages/common/tours/base/tour-card";
@import "pages/common/base/animated-title";
@import "pages/common/base/pager";

@import "pages/archive/base/archive-hero";

/* Tablet */
@include breakpoint(sm--min-width) {
  @import "pages/common/tours/tablet/tours-list";
}

/* Desktop */
@include breakpoint(md--min-width) {
  @import "pages/common/tours/desktop/tours-list";
  @import "pages/common/tours/desktop/tour-card";
  @import "pages/archive/desktop/archive-hero";
}

