@import "utils/index";

@import "pages/common/transferts/base/transferts-list";
@import "pages/common/transferts/base/transfert-card";
@import "pages/common/base/animated-title";
@import "pages/common/base/pager";

@import "pages/archive/base/archive-hero";

/* Tablet */
@include breakpoint(sm--min-width) {
  @import "pages/common/transferts/tablet/transferts-list";
  @import "pages/common/transferts/tablet/transfert-card";
}

/* Desktop */
@include breakpoint(md--min-width) {
  @import "pages/archive/desktop/archive-hero";
}

