/**
 * Typography styles
 * Styles for headings and text elements
 */

h1,
.h1 {
  @include typographic($font-gascone, max(80px, 10000svw / var(--w)), 400, inherit, 0.9);
  margin-block: 0.38em 0.19em;
  padding-top: 0.025em;
}

@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: max(60px, 6000svw / var(--w));
  }
}

h2,
.h2 {
  @include typographic($font-gascone, max(60px, 8000svw / var(--w)), 400, inherit, 0.9);
  margin-block: 0 0.875em;
}

@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: max(40px, 4000svw / var(--w));
  }
}

h3,
.h3 {
  @include typographic($font-gascone, max(40px, 6000svw / var(--w)), 400, inherit, 0.9);
  margin-block: 1.1666666667em 0.7166666667em;
}

@media (max-width: 767px) {
  h3,
  .h3 {
    font-size: max(30px, 3000svw / var(--w));
  }
}

h4,
.h4{
  @include typographic($font-ppneuemontreal-bold, max(35px, 4000svw / var(--w)), 700, inherit, 1);
  margin-block: 3.125em 0.7em;
}

h5,
.h5 {
  @include typographic($font-ppneuemontreal-bold, max(22px, 2700svw / var(--w)), 700, inherit, 1);
  margin-block: 1.9259259259em 1.0740740741em;
}

h6,
.h6 {
  @include typographic($font-ppneuemontreal-bold, max(20px, 2200svw / var(--w)), 700, inherit, 1);
  margin-block: 1.3636363636em 1em;
}

@media (max-width: 767px) {
  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    font-size: max(20px, 2000svw / var(--w));
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}

