/**
 * Animated Title Styles
 * Character-by-character scroll animation
 */

/**
 * Animated Title Styles
 * Character-by-character scroll animation (optimized)
 */

.animated-title {
  overflow: hidden;

  .line {
    margin-block: -.09em -.05em;
    padding-block: .05em .09em;
    overflow: hidden;
  }
  
  &__word {
    display: inline-block;
  }
  
  &__char {
    display: inline-block;
    
    opacity: 0;
    transform: translateY(100px);
    
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
    will-change: opacity, transform; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  &.is-animated {
    .animated-title__char {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

