.banner {
  position: fixed;
  bottom: var(--gutter);
  left: var(--gutter);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: calc(100svw - var(--gutter) * 2);
  padding: max(6px, 600svw / var(--w));
  line-height: 1;
  color: var(--blue-grey-light);
  background: var(--blue-dark);
  border-radius: var(--radius);
  transition: all 0.5s var(--ease-out);
  transform: translateY(150%);
  flex-flow: column nowrap;

  &.is-visible {
    transform: none;
  }

  &.is-light {
    color: var(--blue-dark);
    background-color: var(--blue-grey-light);
    a.has-underline {
      color: var(--blue-dark);
    }
    .cta {
      &:hover {
        color: var(--blue);
        border-color: var(--blue);
      }
    }
  }

  &__inner,
  &__actions {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__media {
    width: max(78px, 7800svw / var(--w));
    margin-right: max(20px, 2000svw / var(--w));
    border-radius: var(--radius);
    overflow: hidden;
    pointer-events: none;
    aspect-ratio: 1;
    & > * {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__title {
    margin-right: auto;
    font-family: $font-ppneuemontreal-bold;
    font-size: max(13px, 2300svw / var(--w));
  }

  &__share {
    margin-inline: 0.7857142857em;
    font-size: max(13px, 1400svw / var(--w));
    &-wrapper {
      position: relative;
      z-index: 2;
      a.has-underline {
        position: relative;
        display: inline-block;
        padding-block: 0.5em;
        text-decoration: none !important;
        white-space: nowrap;
        color: $white-color;
        overflow: hidden;
        vertical-align: middle;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: calc(100% - 1px);
          left: 0;
          width: 100%;
          border-top: 1px solid;
          transition: all 0.5s var(--ease-out);
        }

        &::before {
          transform: translate(-150%);
        }

        &:hover {
          &::before {
            transform: translate(0);
          }

          &::after {
            transform: translate(150%);
          }
        }
      }
    }
  }

  .cta {
    margin: 0 max(8px, 800svw / var(--w)) 0 max(6px, 600svw / var(--w));
    padding-inline: 3em;
  }
}
