.placesList {
  .modules & {
    &.placesList {
      margin: var(--gutter);
    }
  }

  &__inner {
    padding: max(160px, 16000svw / var(--w)) var(--gutter) var(--gutter);
    padding-top: max(80px, 8000svw / var(--w));
  }

  .pin-spacer {
    &:nth-child(even) {
      .card-inner {
        &,
        .card-title
        {
          color: var(--blue-grey-light);
        }
        &::before {
          height: 100%;
        }
      }
    }
  }

  .card {
    position: relative;

    &:nth-child(even) {
      .card-inner {
        &,
        .card-title
        {
          color: var(--blue-grey-light);
        }
        &::before {
          height: 100%;
        }
      }
    }

    &-inner {
      position: relative;
      display: flex;
      gap: 4em;
      width: 100%;
      height: 100%;
      min-height: 300px;
      padding: 2em;
      background: var(--blue-grey);
      will-change: transform;

      &>* {
        position: relative;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--blue-dark);
        transition: all .5s var(--ease-out);
      }
    }

    &-title {
      margin: 0;
    }
    
    &-content {
      display: flex;
      flex-direction: column;
      &-header {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1em;
        margin-bottom: var(--gutter);
      }
    }
  
    &-tag {
      display: inline-block;
      margin: 0 .2142857143em .2142857143em 0;
      padding: .5714285714em .4285714286em;
      text-transform: uppercase;
      white-space: nowrap;
      border-radius: var(--radius);
      outline: 1px solid;
      outline-offset: -1px;
      @include typographic($font-ibmplexmono, max(14px, 1400svw / var(--w)), 400, inherit, 1);
    }

    &-description {
      margin-block: auto;
    }
  }
}
