.featuredText {

  &__inner {
    padding: calc(11600svw / var(--w));
  }

  &__surtext {
    font-size: max(14px, 1500svw / var(--w));
  }

  &__text {
    margin-top: calc(5000svw / var(--w));
    font-size: max(60px, 8000svw / var(--w));
  }
}