.archive-hero {
  position: relative;
  display: flex;
  height: auto;
  min-height: 100svh;
  margin-bottom: 0;
  padding: var(--gutter);
  flex-flow: column nowrap;
  color: var(--blue-grey-light);
  overflow-x: hidden;
  overscroll-behavior: contain;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    opacity: 0.4;
  }
  
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    max-width: none;
    margin: 0;
    padding-inline: var(--gutter);
    transform: translate(-50%, -50%);
    flex-flow: column nowrap;
  }
  
  &__title {
    margin-block: 0;
    text-align: center;
  }
  
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}