.circuit-card {
  position: relative;
  display: flex;
  padding: max(10px, 1000svw / var(--w));
  text-decoration: none;
  background: var(--blue-grey);
  border-radius: var(--radius);
  overflow: hidden;
  transition: all var(--tm) var(--smooth);
  flex-flow: column nowrap;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--blue-dark);
    transition: all .5s var(--ease-out);
  }

  &:hover {
    &,
    .circuit-card__infos-title
    {
      color: var(--blue-grey-light);
    }

    &::before {
      height: 100%;
    }
  }

  .tag {
    display: inline-block;
    margin: 0 .2142857143em .2142857143em 0;
    padding: .5714285714em .4285714286em;
    text-transform: uppercase;
    white-space: wrap;
    border-radius: var(--radius);
    outline: 1px solid;
    outline-offset: -1px;
    @include typographic($font-ibmplexmono, max(14px, 1400svw / var(--w)), 400, inherit, 1);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      position: relative;
      margin-bottom: max(15px, 1500svw / var(--w));
      border-radius: var(--radius);
      overflow: hidden;
      aspect-ratio: 1 / 1;

      .tag {
        position: absolute;
        bottom: max(7px, 700svw / var(--w));
        left: max(10px, 1000svw / var(--w));
        color: var(--blue-dark);
        background: var(--blue-grey-light);
        outline: none;
      }
    }
  }

  &__infos {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;

    &-title {
      flex-grow: 1;
      margin: 0 0 .6666666667em;
      font-size: clamp(21.6px, 2700svw / var(--w), 30px);
    }

    &-table {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-top: 6.103286385%;
      padding: 0;
      font-size: clamp(9.6px, 1200svw / var(--w), 14.4px);
      border-top: 2px dotted;

      ul,
      div {
        padding-block: 1.2352941176em 1.5294117647em;
      }

      ul {
        margin: 0;
        padding-left: 1em;
        list-style: disc;

        li {
          margin: 0;
          line-height: 1.23;
        }
      }

      div {
        width: 50%;
        margin-top: 2px;
        padding-left: 5.6338028169%;
        white-space: nowrap;
        border-left: 2px dotted;

        strong {
          display: block;
          margin-top: .1481481481em;
          font-family: $font-ppneuemontreal-bold;
          font-size: 1.5882352941em;
        }
      }
    }
  }
}

